From Martin Dürst:

What does "modern" in "modern MacOS" mean? Of course a 1984 or so Mac wouldn't be able to use Unicode, but this practice goes way, way back.

Also, it's not exactly Normalization Form D (NFD). It's definitely NFD for many if not most parts of Unicode, but not everywhere. Please see e.g. https://developer.apple.com/library/mac/qa/qa1173/_index.html for more details.


I've rearranged the document so "Implementation Notes" comes after "Encoding and Character Set Considerations", in the hope that I can come up with a way to add a section about the various encodings in use in wild filesystems, and how UTR15/NFC makes sense.

However that's a bit beyond me right now. I am keen to publish the current text as a draft, and I feel like this issue is non-critical, so I may bump it to the next milestone.


I just realised this is a non-issue. If MacOS filenames are already Unicode, then they don't need to be (re)normalized at all. Unicode can and should be percent-encoded as-is (via UTF-8, which is already documented). And If I switch from URI to IRI then I can refer to RFC 3987, Sections 3.1 (notably Step 1c) and 5.3.2.2 and it will be even more clearerer.
